@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Shadows+Into+Light&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    text-align: center;
}
.words{
    font-size: 60px;
    text-decoration: none;
}
h1{
    margin-top: 0;
    font-family: 'Dancing Script', cursive;
}
h2{
    color: dodgerblue;
    font-family: 'Shadows Into Light', cursive;
}
.words{
    text-decoration: underline;
}
.bottom_cloud{
    position: absolute;
}
.top_cloud{
    position: absolute;
    right: 420px;
    top: 50px;
}
.top_cont{
    background-color: rgb(216, 252, 249);
    position: relative;
    padding-top: 100px;
}
.bottom_cont{
    margin-top: 25px;
}
.im{
    width:200px;
    margin-top: 40px;
}
.profile{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.footer-link{
    margin:20px 0  0 5px ;
    padding: 3px;
    text-decoration: none;
    width: 300px;
    font-family: 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
    color: aquamarine;
    line-height: 3;
}
.footer-link:hover{
    color: white;
}
.p{
    font-size: 25px;
    font-family: 'Shadows Into Light', cursive;
}
.skill-row{
    width: 50%;
    margin:100px auto 100px auto;
    text-align: left;
    line-height: 2;
}

._img{
    width: 25%;
}
.btn {
  background: #6096b8;
  background-image: -webkit-linear-gradient(top, #6096b8, #48abe8);
  background-image: -moz-linear-gradient(top, #6096b8, #48abe8);
  background-image: -ms-linear-gradient(top, #6096b8, #48abe8);
  background-image: -o-linear-gradient(top, #6096b8, #48abe8);
  background-image: linear-gradient(to bottom, #6096b8, #48abe8);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Georgia;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}
    

._img1{
    float: left;
    padding-right: 80px;
}
._img2{
    width: 40%;
    float:right ;
    padding-left: 80px;
}

.h3{
    color: rgb(231, 159, 209);
}

.bottom_cont{
    background-color:#66BFBF ;
}

.lh8{
    line-height: 2;
}

hr{
    border-color: grey;
    border-style: dotted;
    border-width: 5px;
    border-bottom: none;
    width: 5%;
    margin: 60px auto;
}

.aaa{
    width: 40%;
    margin: auto;
}
